<nav>step1 > step2 > step3 > step4</nav>
<br />

<h3>step1</h3>
<p>まずはメールアドレスを登録しましょう！</p>
<%= form_for @entry, :url => entry_step1_index_path do |f|-%>
  <p><label><%= f.label :email %></label>
  <%= f.text_field :email, :type => :email %> </p>
  <p><%= f.submit "登録" -%></p>
<%- end -%>

