<nav>step1 > step2 > step3 > step4</nav>
<br />
<p>Pマークを既に取得済みですか？</p>
<p>取得済みの方は登録コードを入力してください。</p>
<%= form_for :entry, :url => entry_step2_index_path do |f|-%>
  <p><label>登録コード</label>
  <%= f.text_field :code %> </p>
  <p><%= f.submit "次へ" -%></p>
<%- end -%>

