<script type="text/javascript">
<!--

  $(document).ready(function(){
  
    $("#dialog").dialog({
      bgiframe : true,
      autoOpen : false,
      width : '250px',
      modal : false,
    });

  });

  function open_cal(year, month) {
    now = new Date(year, month, 1);
    prev = new Date(year, month, 1);
    prev.setMonth(now.getMonth()-1);
    next = new Date(year, month, 1);
    next.setMonth(now.getMonth()+1);

    html = "<table>"
    html += "<tr>"
    html += "<td valign='center' height='200'>" +
            "<a href='#' onclick='shift_cal(" + prev.getFullYear() + ", " + prev.getMonth() + ", \"" + this.id + "\");'>" + 
            "<<" +
            "</a>" + 
            "</td>"
    html += "<td valign='top' height='200'>" + 
            create_cal(now, this.id) + 
            "</td>"
    html += "<td valign='center' height='200'>" +
            "<a href='#' onclick='shift_cal(" + next.getFullYear() + ", " + next.getMonth() + ", \"" + this.id + "\");'>" +
            ">>" + 
            "</a>" +
            "</td>"
    html += "</tr>"
    html += "</table>"
    $("#cal").html(html)
    $("#dialog").dialog('open')

  }

  function print_date(field_id, date) {
    $("#cal_print").val(date);
    $("#dialog").dialog('close')
    $("input[name='loop[loop_limit]']").val(date);
  }

  function close_cal() {
    $("#dialog").dialog('close')
    $("#cal_print").val("")
  }

  function shift_cal(year, month, id) {
    now = new Date(year, month, 1)
    prev = new Date(year, month, 1)
    prev.setMonth(now.getMonth()-1);
    next = new Date(year, month, 1)
    next.setMonth(now.getMonth()+1);

    html = "<table>"
    html += "<tr>"
    html += "<td valign='center' height='200'><a href='#' onclick='shift_cal(" + prev.getFullYear() + ", " + prev.getMonth() + ", \"" + id + "\");'><<</a></td>"
    html += "<td valign='top' height='200'>" + create_cal(now, id) + "</td>"
    html += "<td valign='center' height='200'><a href='#' onclick='shift_cal(" + next.getFullYear() + ", " + next.getMonth() + ", \"" + id + "\");'>>></a></td>"
    html += "</tr>"
    html += "</table>"
    $("#cal").html(html)
    $("#cal_month").text(month)
  }

  function create_cal(d, id) {
    year = d.getFullYear();
    month = d.getMonth();
    day = 1;
    leap_year = false;

    if ((year%4 == 0 && year%100 != 0) || (year%400 == 0)) leap_year=true;
    lom = new Array(31,28+leap_year,31,30,31,30,31,31,30,31,30,31);
    dow = new Array("日","月","火","水","木","金","土");
    days = 0;
    for (var i=0;i<month;i++) days += lom[i];
    week = Math.floor((year*365.2425+days)%7);
    j = 0;
    when = year + "年 " + (month+1) + "月";
    calendar = "<table>"
    calendar += "<caption>" + when + "</caption><tr>";
    for (i=0;i<7;i++) calendar += "<td>"+dow[i]+"</td>";
    calendar += "</tr><tr>";
    for (i=0;i<week;i++,j++) calendar += "<td></td>";
    for (i=1;i<=lom[month];i++) {
      calendar += "<td><a href='#' id='" + id + "' name=" + year + "/" + (month+1) + "/" + i + " class='cal_click' onclick='print_date(id, name);'>" + i + "</a></td>";
      j++;
      if (j > 6) { 
        calendar += "</tr><tr>";
        j = 0;
      }
    }
    for (i=j;i>6;i++) calendar += "<td></td>";
    calendar += "</tr></table>";
    return calendar;
  }

//-->
</script>

<div id="dialog" title="日付をクリックしてください。" style="display : none;">
  <div id='field_id' style="display : none;"></div>
  <div id='cal_month' style="display : none;"></div>
  <div id='cal'></div>
</div>
