<h2>申請書一覧</h1>
<table class="base">
  <tr>
    <th>申請書名</th>
    <th></th>
  </tr>
<% @reports.each do |r| %>
  <tr>
    <td><%= r.title %></td>
    <td><%= link_to "申請する", new_workflows_approval_path(:approval_form_id => r.id) %></td>
  </tr>
<% end %>
</table>

<br />

