<div id="entry">
  <br />
  <% if flash[:error] %>
    <div id="error_explanation">
      <ul>
        <li><span class="red"><%= flash[:error] %></span></li>
      </ul>
    </div>
  <% end %>
  <div class="mgs">
    <p>新しいメールアドレスを有効にするためにあなたのパスワードを入力してください</p>
    <%= form_for @user, :url => users_email_change_path(:code => @token.code) do |f| %>
      <table>
        <tr>
          <td>ログインパスワード</td>
          <td><%= password_field_tag :password, "", :size => '16', :required => true %></td>
          <td>半角英数で6文字以上</td>
        </tr>
      </table>
      <%#= hidden_field_tag :code, @token.code %>
      <%#= f.hidden_field :email %>
      <br />
      <center><%= f.submit '登録' %></center>
    <% end %>
  </div>
  <br />
  <br />
</div>

