  <div class="paper">
    <div class="paper_inner">
        <div id='field_title'>
          <p>ワークフローを作成します</p>
          <div id="workflows" class="ui-sortable">
            <%= f.fields_for :workflow_templates, @approval_form.workflow_templates do |wf_field| -%>
              <div class="step_box">
              </div>
              <% if false -%>
              <div class="step_box">
                <%- new_options = @approval_form.new_record? ? {:value => 1} : {} -%>
                <span>ステップ<%= wf_field.text_field :step, {:disabled => true, :maxlength => 1}.merge(new_options) %><%= wf_field.hidden_field :step, :value => 1 -%>:<span>
                <span><%= wf_field.select :user_type, C.user_type.to_opt, :required => true -%></span>
              </div>
              <%- end -%>
              <%- end -%>
          </div>
          <div><a id="add_step_button" href="javascript:void(0);" onclick="add_step()"> 追加</a></div>
        </div>
      </div>
  </div>
  <script>
    //drag();
  </script>

<%- unless @approval_form.new_record? -%>
<script>
  $.each($(".step_box"), function(i, item){
    temp_step = i + 1;
    if(temp_step > 1){
      $(item).attr('id', 'step_box' + temp_step);
      $(item).append($('<span />').append($('<a />').attr('href', 'javascript:void(0);').attr('onclick', 'remove_step(' + temp_step + ')').text("×")));
    }
  })
</script>
<%- end -%>

