<section class='invitation'>
  <br />
  <p>招待する人のメールアドレスを入力してください。</p>
  <%= form_for @invitation, :url => users_invitation_index_path do |f| %>
    <center>
      <table>
        <tr>
          <td>従業員種別</td>
          <td><%= f.select :user_type, formatted_roll_options(::InvitationToken::RollOptions), :required => true %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, :size => '30', :type => "email", :required => true %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%= f.submit '送信' %></td>
        </tr>
      </table>
    </center>
  <% end %>
</section>
