<script type="text/javascript">
<!--

$(document).ready(function(){
  now = new Date
  year = getUrlVars()["year"] ? getUrlVars()["year"] : now.getFullYear()
  month = getUrlVars()["month"] ? getUrlVars()["month"] : now.getMonth()
  create_cal(eval(year), eval(month))
});

function getUrlVars(){
  var vars = [], hash;
  var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
  for(var i = 0; i <hashes.length; i++) {
    hash = hashes[i].split('=');
    vars.push(hash[0]);
    vars[hash[0]] = hash[1];
  }
  return vars;
}

function print_over(year, month) {
  var req = $.getJSON(
              '<%= schedules_general_index_path(:format => :json) %>',
              {
                'year' : year,
                'month' : month
              },
              function(data) {
                $.each(data, function(){
                  c_id = this.c_id;
                  owner_id = this.owner_id
                  start_year = this.start_year;
                  start_month = this.start_month;
                  start_day = this.start_day;
                  start_hour = this.start_hour;
                  start_minute = this.start_minute
                  end_year = this.end_year;
                  end_month = this.end_month;
                  end_day = this.end_day;
                  end_hour = this.end_hour;
                  end_minute = this.end_minute;
                  all_day = this.all_day;
                  title = this.title;

                  if (all_day == 1) {
                    id = String(start_year) + String(start_month) + String(start_day);
                    html = "<div id='" + c_id + "'>";
                    html += "<p><a href='/schedules/" + c_id + "'>[終日] " + title + "</a></p>";
                    html += "</div>";
                    $("#" + id).append(html);
                  } else {
                    if ((start_year == end_year) && (start_month == end_month) && (start_day == end_day)) {
                      id = String(start_year) + String(start_month) + String(start_day);
                      if (start_minute.length == 1) { start_minute = "0" + String(start_minute) }
                      if (end_minute.length == 1) { end_minute = "0" + String(end_minute) }
                      s = String(this.start_hour) + ":" + start_minute;
                      e = String(this.end_hour) + ":" + end_minute;
                      html = "<div id='" + c_id + "'>";
                      html += "<p><a href='/schedules/" + c_id + "'>" + s + "-" + e + " " + title + "</a></p>";
                      html += "</div>";
                      $("#" + id).append(html);
                    } else {
                      s = start_month + "/" + start_day;
                      e = end_month + "/" + end_day;
                      id_date = new Date(start_year, start_month, start_day);
                      start_date = new Date(start_year, start_month, start_day);
                      end_date = new Date(end_year, end_month, end_day);
                      diff = (end_date - start_date) / 1000 / 60 / 60 / 24;
                      //くり返し差分だけではなく自分自身も帳票する必要があるため、-1からカウントと開始する。
                      for (i=-1; i<diff; i++) {
                        id = String(id_date.getFullYear()) + String(id_date.getMonth()) + String(id_date.getDate());
                        html = "<div id='" + c_id + "'>";
                        html += "<p><a href='/schedules/" + c_id + "'>[" + s + "-" + e + "] " + title + "</a></p>";
                        html += "</div>";
                        $("#" + id).append(html);
                        id_date.setDate(id_date.getDate() + 1);
                      }
                    }
                  }
                });
              }
            );
}

function create_cal(year, month) {

  leap_year = false;

  prev = new Date(year, month-1, 1)
  next = new Date(year, month+1, 1)
  now = new Date()

  if ((year%4 == 0 && year%100 != 0) || (year%400 == 0)) leap_year=true;
  lom = new Array(31,28+leap_year,31,30,31,30,31,31,30,31,30,31);
  dow = new Array("日","月","火","水","木","金","土");
  days = 0;
  for (var i=0;i<month;i++) days += lom[i];
  week = Math.floor((year*365.2425+days)%7);
  j = 0;
  when = year + "年 " + (month+1) + "月";
  calendar = "<table class='month'>"
  calendar += '<a href="javascript:void(0);" onclick="create_cal(' + prev.getFullYear() + ', ' + prev.getMonth() + ');"><<</a>';
  calendar += '<a href="javascript:void(0);" onclick="create_cal(' + now.getFullYear() + ', ' + now.getMonth() + ');">今日</a>';
  calendar += '<a href="javascript:void(0);" onclick="create_cal(' + next.getFullYear() + ', ' + next.getMonth() + ');">>></a>';
  calendar += "<caption>" + when + "</caption><tr>";
  for (i=0;i<7;i++) calendar += "<th>"+dow[i]+"</th>";
  calendar += "</tr><tr>";
  for (i=0;i<week;i++,j++) calendar += "<td></td>";
  for (i=1;i<=lom[month];i++) {
    calendar += "<td id=" + year + (month+1) + i + ">"
    calendar += "<div><a href='#' id='' name=" + year + "/" + (month+1) + "/" + i + " class='cal_click' onclick='print_date(name);'>" + i + "</a></div>"
    calendar += "<div><a href='/schedules/new?year=" + year + "&month=" + (month+1) + "&day=" + i + "'>+</a></div>"
    calendar += "</td>";
    j++;
    if (j > 6) { 
      calendar += "</tr><tr>";
      j = 0;
    }
  }
  for (i=j;i>6;i++) calendar += "<td></td>";
  calendar += "</tr></table>";

  $("#cal").html(calendar)

  print_over(year, month+1);
}

//-->
</script>

<div id="cal">
</div>
