<p><input type='text' name='loop[loop_unit]' value='1' />ヶ月間</p>

<p>くり返しの基準:</p>

<p>
  <input type='radio' name='loop[loop_month_unit_type]' value='0' checked/>日付&nbsp;
  <input type='radio' name='loop[loop_month_unit_type]' value='1' />曜日
</p>
