<p><input type='text' name='loop[loop_unit]' value='1' />週間</p>

<p>曜日を選択する</p>

<p>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.sunday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='7' checked/>日曜日&nbsp;
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='7' />日曜日&nbsp;
  <% end %>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.monday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='1' checked/>月曜日&nbsp;
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='1' />月曜日&nbsp;
  <% end %>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.tuesday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='2' checked/>火曜日&nbsp;
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='2' />火曜日&nbsp;
  <% end %>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.wednesday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='3' checked/>水曜日&nbsp;
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='3' />水曜日&nbsp;
  <% end %>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.thursday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='4' checked/>木曜日&nbsp;
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='4' />木曜日&nbsp;
  <% end %>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.friday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='5' checked/>金曜日&nbsp;
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='5'/>金曜日&nbsp;
  <% end %>
  <% if schedule.class::CONST == ::Schedule::WeekLoop::CONST && schedule.saturday_checked? %>
    <input type='checkbox' name='loop[loop_week_days][]' value='6' checked/>土曜日
  <% else %>
    <input type='checkbox' name='loop[loop_week_days][]' value='6' />土曜日
  <% end %>
</p>
